:root {
    --bg-main: rgb(216, 223, 255);
    --bg-accent: rgba(14, 17, 48, 0.555);
    --bg-change: rgba(25, 98, 255, 0.616);
    --bg-accent-2: rgb(54, 54, 54);

    --text-main: rgba(0, 0, 0, 0.884);
    --text-accent: rgb(255, 101, 101);

    --border-main: black;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: var(--bg-main);
}

/* Form Styling Here */
form {
    width: 90%;
    max-height: 50%;
    padding: 2em;
    position: absolute;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    top: 30%;
    left: calc(50% - 90% / 2);
    background-color: var(--bg-accent-2);
    border: 2px solid var(--border-main);
    border-radius: 7px;
}

form > * {
    margin: 0.5em;
}

label {
    color: var(--text-accent);
    font-size: 1.15rem;
    font-weight: 900;
}

label[for="player1-name"],
label[for="player2-name"] {
    grid-column: 1/3;
}

.player-name {
    width: 100%;
    grid-column: 1/3;
}

.pieces {
    grid-column: 2/3;
}

.player-piece {
    color: black;
}

input[type="submit"] {
    grid-column: 1/3;
    width: 35%;
}

#game {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    align-items: center;
    justify-content: flex-start;
}

h1 {
    font-size: 2rem;
    margin: 0.75em;
    text-align: center;
    color: var(--text-main);
}

#buttons {
    display: flex;
    flex-direction: column-reverse;
    gap: 0.25em;
}

button {
    cursor: pointer;
    padding: 0.75em 2em;
    font-size: 1rem;
    font-weight: 600;
    color: var(--text-main);
    background-color: var(--bg-accent);
    backdrop-filter: blur(20px);
    border: 2px solid rgb(44, 43, 43);
}

button:hover {
    background-color: var(--bg-change);
}

#gameboard {
    width: min(95%, 30em);
    height: 20em;
    flex-shrink: 0;
    display: grid;
    border: 2px solid var(--border-main);
}

.box {
    cursor: pointer;
    border: 2px solid var(--border-main);
    display: flex;
    justify-content: center;
    align-items: center;
}

.box > div {
    font-size: 5rem;
    color: var(--text-main);
}

@media (min-width: 700px) {
    form {
        width: 30em;
        left: calc(50% - 30em / 2);
    }

    h1 {
        font-size: 3rem;
    }

    #buttons {
        flex-direction: row;
    }

    #gameboard {
        width: min(75%, 60em);
        height: 35em;
    }

    .box > div {
        font-size: 7rem;
    }
}
