*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
}

#gameboard {
    width: min(95%, 30em);
    height: 20em;
    display: grid;
    border: 1px solid black;
}

.box {
    cursor: pointer;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box > div {
    font-size: 5rem;
}

@media (min-width: 700px) {
    #gameboard {
        width: min(75%, 60em);
        height: 35em;
    }

    .box > div {
        font-size: 7rem;
    }
}
